/**************/
/*Confirmation*/
/**************/
.confirmation {
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 85px;

  display: flex;
  flex-direction: column;
}

.confirmation .main {
  background-color: white;
  color: #3d424f;

  font-weight: 500;
  padding: 30px;
  border-radius: 25px;
  margin: 10px;
}
p span {
  font-weight: bolder;
}
ul {
  list-style-type: none;
}
p {
  margin-block-end: 0;
}
.products {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
.product {
  width: 32%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 15px;
  margin-bottom: 1%;
}

.product img {
  margin-top: 20px;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-color {
  font-style: italic;
}

.product-quantity {
  font-weight: bold;
}
